language: node_js
node_js:
- '0.10'
before_install:
- npm i npm -g
before_deploy:
- mkdir -p deploy/meshblu-greeting/latest
- mkdir -p deploy/meshblu-greeting/$TRAVIS_TAG
- node_modules/.bin/browserify -s Connector -t coffeeify connector.coffee > deploy/meshblu-greeting/latest/meshblu-greeting.js
- gzip deploy/meshblu-greeting/latest/meshblu-greeting.js
- mv deploy/meshblu-greeting/latest/meshblu-greeting.js.gz deploy/meshblu-greeting/latest/meshblu-greeting.js
- cp deploy/meshblu-greeting/latest/meshblu-greeting.js deploy/meshblu-greeting/$TRAVIS_TAG/meshblu-greeting.js
deploy:
- provider: npm
  skip_cleanup: true
  clean_up: false
  email: serveradmin@octoblu.com
  api_key:
    secure: "JbWdejjiLYKk8YDTLwNZpoSvGtb/WCThHRb1oAYZhd7P/hCFnGUPtqqFeA7tKphiI+Sig5HEaoJ1Zt1qXaMUXhMR/f2YYRIFzkQE+EiJsFHygZXpb8jfgUrm7O8cFMvW8O8iUnNjeB+bpl2axkgppf2DnYxGdyu7IAiFadspqLA="
  on:
    tags: true
    all_branches: true
- provider: s3
  access_key_id: AKIAJH2D5IPIRHYJT5IA
  secret_access_key:
    secure: "kSUCKU2rZyrVETFA6HNdPNItEeIpIZgAvFprgYdE5YyN9b4HXxQlGSqQd4rYBvQL/wKv6/4F2BmibuQCuA8RHU85nI7bPzb57Wt37KiwziqS3Mu5EuZSBVKU7MhOwjb6yQ2Mam+zxNME8KPSg7KPyhuj/AkK+vO+p9H/TlSL7+s="
  bucket: octoblu-cdn
  region: us-west-2
  skip_cleanup: true
  detect_encoding: true
  local-dir: deploy
  upload-dir: js
  on:
    tags: true
    all_branches: true
